{{#each bill as |currentbill|}}
<h2> Bill ID: {{currentbill.bill_id}} <br> Bill TYPE: {{currentbill.bill_type}} <br> Bill Number: {{currentbill.number}} <br> Chamber: {{currentbill.chamber}} <br> Introduced On: {{currentbill.introduced_on}} </h2>
{{/each}}
