<h2> Bill ID: {{bill.bill_id}} <br> Bill TYPE: {{bill.bill_type}} <br> Bill Number: {{bill.number}} <br> Chamber: {{bill.chamber}} <br> Introduced On: {{bill.introduced_on}} </h2>

<!-- {{#each model as |bill|}}

  {{/each}} -->
